<!DOCTYPE html>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'restaurants/signin.css' %}">
</head>
<body>
  <h1>Sign in to Your Account</h1>
  <form action="{% url 'restaurants:userhome' %}" method="post">
    {% csrf_token %}
    {% if error_message %}<p><strong>User Does Not Exist</strong></p> {% endif %}
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" placeholder="Username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" placeholder="Password"><br>
    <input type="submit" name="submit" value="Sign In"><br>
  </form>
</body>
